/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    /*color theme*/
    --white: #fff;
    --lt-blue: #90bde1;
    --lt-green: #a1c42c;
    --mid-blue: #8ca4cc;
    --dk-blue: #04448c;
    --dk-gray: #222;
    --lt-gray: #eaeaea;

    --fonts:"zedou",Arial,sans-serif;

    --filter-shadow-sm: drop-shadow(-3px 3px 7px var(--lt-grey));
	--filter-shadow-lg: drop-shadow(-6px 6px 10px var(--lt-grey))

}



body {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    background-color: var(--lt-blue);
    color: var(--lt-gray);
    font-family: var(--fonts);
    

}



img:nth-of-type(1) {
    width: 100%;
}


p {
    width: 100%;
    max-width: 55ch;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--white);
    font-family: var(--fonts);
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--lt-blue);
    margin: 1px auto;
    justify-content: space-between;
    top: 0;
    z-index:2;
    
    
}

header > a {
    padding:0 ;
}

header img {
    width: 100%;
    height: 37rem;

}

nav {
    display: flex;
    align-items: center;
    background-color: var(--lt-blue);
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 5rem;
    margin-bottom: 1rem;


}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 4px solid var(--white);
    border-bottom: 4px solid var(--white);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
}

h1{
    font-family: var(--fonts);
    font-size: 2rem;
    font-style: italic;

}

body {
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
    background-color: var(--lt-blue);
    color: var(--white);
}

a {
    padding: 1rem;
    margin: auto;
    height: auto;
    font-size: 2rem;
}

a:hover {
    /*buttons*/
    background-color: var(--dk-gray);
    border-top-color: #04448c;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 1.1;
    font-family: var(--fonts);
}


.container {
    background-color: var(--lt-blue);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;

}

main{
    margin: 1rem;
}



section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
    border: 2.2px solid var(--white);
    margin-bottom: 2rem ;
    gap: 1rem;
    padding: 1rem;
}
section img{
    width: 50%;
}


.img_content{
    padding-left: 1.5rem;
    font-size: 2.5rem;
    font-weight:lighter;
    color: var(--white);
}

form{
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

fieldset{
	margin-bottom: 24px;
	border-radius: 6px;
	border-color: var(--dk-gray);
	display: grid;
	grid-template-columns: 1fr;
    margin: 2em 0;
    padding: 1em 2em;
    border: solid var(--white);
}

legend{
	font-weight: bold;
    font-size: 1.25em;
    padding: 0.25em;

}

fieldset label{
	margin-left: 0;
	
}

input[type="submit"]{
	background-color: var(--dk-gray);
	border: none;
	color: var(--white);
	font-weight: bold;
	font-size: 18px;
	box-shadow: -3px 3px 7px var(--lt-grey);
    padding: .5em 1em;
    border-radius: 6px;

	
}

input{
    padding: 0.5rem ;
    
}

textarea{
    margin-bottom:5rem;
    padding: 1rem
}

input: invalid, select: invalid, textarea:invalid{
	box-shadow: -6px 6 10px var(--dk-gray);
	
}


input:focus, select:focus, textarea:focus{
	
	outline: 3px solid var(--dk-gray);
}

input[type="submit"]:focus{
	outline: 3px solid var(--dk-gray);
    padding: 1rem;
}

input[type="submit"]:focus{
	box-shadow: -3px 3px 5px var(--dk-gray);
}



input[type=radio] + label {
   	cursor: pointer;
	display: flex;
	align-items: center;
    margin: 0.5rem 0;
}

input[type=radio] {
   	appearance: none;
   	margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	border-radius: 0;
}

input[type=radio] + label::before {
   	content: "\00a0";   
	font-size: 2.25em;
	line-height: 0.65;
   	border-radius: 50%;
   	display: inline-block;  
   	height: 20px;
   	width: 22px;
   	text-align: center;
   	margin-right: 16px;
   	border: 2px solid var(--white);   
   	background-color: var(--white);
	padding-bottom: 2px;
}

input[type=radio]:checked + label::before {
   	content: "\2022";
   	color: var(--dk-blue);
   	background: var(--dk-blue);
}

input[type=radio]:focus{
	outline: none;
}

input[type=radio]:focus + label::before {
   	box-shadow: 0 0 0 2px var(--dk-blue);
}




footer{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--mid-blue);
    color: var(--white);

}



